[Unit]
Description=afbook project startup file
After=multi-user.target

[Service]
Type=idle
WorkingDirectory=home/pi/afbook
ExecStart=/bin/bash home/pi/afbook/startup.sh start > /home/pi/startup.log 2>&1

[Install]
WantedBy=multi-user.target
